@font-face {
    font-family: "GB";
    src: url("../assets/fonts/Gilroy-Black.ttf");
}

@font-face {
    font-family: "GR";
    src: url("../assets/fonts/Gilroy-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GR";
}

#slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #151515;
    padding: 120px;
}

#slider-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 777;
}

.slider-img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(0% at 0 50%);
}
.slider-img.active {
    clip-path: circle(150% at 0 50%);
    transition: 3s ease;
    transition-property: clip-path;
}

.content {
    color: #fff;
    width: 50%;
    position: absolute;
    left: 120px;
    z-index: 888;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.content.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: 1s ease;
}

.content h1 {
    font-size: 4.8rem;
}

.content span {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 2.4rem;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 3.2rem;
    text-align: justify;
}

.content a {
    font-size: 1.2rem;
    padding: 20px 48px;
    background: blue;
    color: #fff;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.content a:hover {
    background: #fff;
    color: blue;
}

.slider-navigation {
    width: 50%;
    z-index: 8888;
    position: absolute;
    bottom: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.4rem;
}

.navigation-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.navigation-btn.active {
    background: blue;
}
